<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>uploadPage</title>
</head>
<body>
<form action="upload/getUploadResult" th:action="@{/upload/getUploadResult}" th:object="${upload}" method="post">
    <table>
        <tr>
            <td>服务器ip:</td>
            <td><input type="text" th:field="*{host}" /></td>
            <td th:if="${#fields.hasErrors('host')}" th:errors="*{host}">Host Error</td>
        </tr>
        <tr>
            <td>用户名:</td>
            <td><input type="text" th:field="*{account}" /></td>
            <td th:if="${#fields.hasErrors('account')}" th:errors="*{account}">account Error</td>
        </tr>
        <tr>
            <td>密码:</td>
            <td><input type="text" th:field="*{password}" /></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>本地上传路径:</td>
            <td><input type="text" th:field="*{localUploadFilePath}" /></td>
            <td th:if="${#fields.hasErrors('localUploadFilePath')}" th:errors="*{localUploadFilePath}">localUploadFilePath Error</td>
        </tr>
        <tr>
            <td>上传至服务器路径:</td>
            <td><input type="text" th:field="*{remoteUploadFilePath}" /></td>
            <td th:if="${#fields.hasErrors('remoteUploadFilePath')}" th:errors="*{remoteUploadFilePath}">remoteUploadFilePath Error</td>
        </tr>
        <tr>
            <td><button type="submit">提交</button></td>
        </tr>
    </table>
</form>
</body>
</html>